#ha{
    font-size: 128px;
    color: brown;
    font-weight: 300;
    border: 3px rgb(230, 178, 144) solid;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
}
#first{
    display: inline-block;
    color: whitesmoke;
    font-size: 54px;
    margin-top: 1%;
}
body{
    background-image: url(wallpapersden.com_artistic-landscape-view_1920x1080.jpg);
    overflow: hidden;
}
body #ha{
    margin-left: 350px;
    margin-right: 250px;
    margin-bottom: 20px;
}
a{
    margin-left: 50%;
    color: aliceblue;
    font-size: 100px;
}
span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: brown;
    font-size: 74px;
}
.pap{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px whitesmoke solid;
    margin-left: 5%;
    margin-right: 5%;
}
.pap img{
    height: 100%;
}
.box{
    margin: 100px;
    display: flex;
    transform: translate(10%);
}